@model ItemEditVM
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form asp-route="@Names.ItemDelete" asp-route-listId="@Model.Parent.ID" asp-route-itemId="@Model.ItemID" method="post">
    <h2>Are you sure?</h2>

    <p>Are you sure you want to delete @Model.Name from @Model.Parent.Name?</p>

    <div class="ok-cancel">
        <a asp-route="@Names.ListDetails" asp-route-listId="@Model.Parent.ID" asp-fragment="@Names.ItemsHash">Cancel</a>
        <button type="submit">Delete</button>
    </div>

</form>

