@{
    Layout = null;
    string _title = string.IsNullOrEmpty(ViewBag.title) ? "Shopping" : "Shopping: " + ViewBag.title;

    ViewBag.Nonce = Context.Items["script-nonce"] as string;
    ViewBag.IsLoggedIn = (bool)Context.Items[Names.IsLoggedIn];
    if (ViewBag.IsLoggedIn)
    {
        ViewBag.User = Context.Items[Names.User] as User;
        ViewBag.Current = Context.Items[Names.CurrentList] as ShoppingList;
        ViewBag.Lists = (Context.Items[Names.Lists] as IEnumerable<ShoppingList>).ToList();
    }
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@_title</title>
    <link rel="icon" type="image/svg" href="~/images/icon.svg" />
    <link rel="stylesheet" type="text/css" href="~/static/shopping.min.css" />
</head>
<body>
    <header>
        @if (ViewBag.IsLoggedIn)
        {
            <form class="controls" method="post" asp-route="UserLogout">
                <a asp-route="@Names.UserIndex" asp-fragment="user-controls">@ViewBag.User.Name</a>
                <a asp-fragment="@Names.ListHash">Lists</a>
                @RenderSection("controls", required: false)
                <button class="btn">Logout</button>
            </form>
        }
    </header>
    <main>
        <partial name="_Messages" model="TempData[Names.Message]" />
        <section id="content">
            @RenderBody()
        </section>
    </main>
    @if (ViewBag.IsLoggedIn)
    {
        <aside id="@Names.ListHash" class="chunk">
            <ul>
                <li id="lists-li-template" hidden><a href=""></a></li>
                @foreach (ShoppingList l in ViewBag.Lists)
                {
                    bool hl = ViewBag.Current != null && ViewBag.Current.ID == l.ID;
                    <li id="@l.ID" highlight="@hl"><a asp-route="@Names.ListDetails" asp-route-listId="@l.ID" asp-fragment="@Names.ItemsHash">@l.Name</a></li>
                }
                <li> <a href="@Url.RouteUrl("ListCreate")">Create a list</a></li>
            </ul>
        </aside>
        @RenderSection("scripts", false)
        <script defer type="module" src="~/static/shopping.min.js"></script>
    }
</body>
</html>

