@model ShoppingList
@{
    Layout = null;
    string _title = string.IsNullOrEmpty(ViewBag.title) ? "Shopping" : "Shopping: " + ViewBag.title;

    bool hasList = Model != null;
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@_title</title>
    <link rel="icon" type="image/svg" href="~/images/icon.svg" />
    <link rel="stylesheet" type="text/css" href="~/static/shopping.min.css" />
</head>
<body>
    <header id="title">
        <h1>@_title</h1>
    </header>

    <main>
        @if (TempData.ContainsKey(StaticNames.Message))
        {
            <section id="message">
                <div>
                    @TempData[StaticNames.Message]
                </div>
            </section>
        }
        <section id="content">
            @RenderBody()
        </section>

    </main>

    <aside>
        <p>Click on the name of a list below to make that list active</p>
        <ul id="lists">
            <li id="lists-li-template" hidden><a href=""></a></li>
            @foreach (ShoppingList l in ViewBag.Lists)
            {
                bool hl = hasList && l.ID == Model.ID;
                <li id="@l.ID" highlight="@hl"><a href="@Url.RouteUrl(StaticNames.ListDetails, new { listId = l.ID })">@l.Name</a></li>
            }
        </ul>

        <p><a href="@Url.RouteUrl("ListCreate")">Create a list</a></p>
    </aside>

    @RenderSection("scripts",  false)

    <script defer type="module" src="~/static/shopping.min.js"></script>
</body>
</html>
 
