
@{
    Layout = null;

    string _title = string.IsNullOrEmpty(ViewBag.title) ? "Shopping" : "Shopping: " + ViewBag.title;
}
<!DOCTYPE html>

<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@_title</title>
    <link rel="icon" type="image/svg" href="~/images/icon.svg">
</head>
<body>
    <nav id="main-controls">
        @RenderSection("controls", false)
    </nav>

    @if (TempData.ContainsKey("messaage"))
    {
        <div>
            @TempData["message"]
        </div>
    }

    <h1>@_title</h1>

    <article>
        @RenderBody()
    </article>

    @RenderSection("scripts", false)
</body>
</html>
