@{
    Layout = null;
    string _title = string.IsNullOrEmpty(ViewBag.title) ? "Shopping" : "Shopping: " + ViewBag.title;

    ViewBag.Nonce = Context.Items["script-nonce"] as string;
    ViewBag.IsLoggedIn = (bool)Context.Items[Names.IsLoggedIn];
    if (ViewBag.IsLoggedIn)
    {
        ViewBag.User = Context.Items[Names.User] as User;
        ViewBag.Current = Context.Items[Names.CurrentList] as ShoppingList;
        ViewBag.Lists = (Context.Items[Names.Lists] as IEnumerable<ShoppingList>).ToList();
    }
}

<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@_title</title>
    <link rel="icon" type="image/svg" href="~/images/icon.svg" />
    <!-- <link rel="stylesheet" type="text/css" href="~/static/shopping.min.css" /> -->
</head>
<body>
    <header id="title">
        <h1>@_title</h1>
        @if (ViewBag.IsLoggedIn)
        {
            <form asp-route="UserLogout">
                Hello <a asp-route="@Names.UserIndex">@ViewBag.User.Name</a> (<button class="btn">Logout</button>)
            </form>
        }
    </header>

    <main>
        <partial name="_Messages" model="TempData[Names.Message]" />
        <section id="content">
            @RenderBody()
        </section>

    </main>

    <aside>
        @if (ViewBag.IsLoggedIn)
        {
            if (ViewBag.Lists.Count > 0)
            {

                <p>Click on the name of a list below to make that list active</p>
                <ul id="lists">
                    <li id="lists-li-template" hidden><a href=""></a></li>
                    @foreach (ShoppingList l in ViewBag.Lists)
                    {
                        bool hl = ViewBag.Current != null &&  ViewBag.Current.ID == l.ID;
                        <li id="@l.ID" highlight="@hl"><a href="@Url.RouteUrl(Names.ListDetails, new { listId = l.ID })">@l.Name</a></li>
                    }
                </ul>
            }
            <p><a href="@Url.RouteUrl("ListCreate")">Create a list</a></p>
        }
        else
        {
            <span>Hello!</span>
        }

    </aside>

    @RenderSection("scripts", false)

    <script defer type="module" src="~/static/shopping.min.js"></script>
</body>
</html>

