@model ShoppingAgain.Models.ShoppingList

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<h3>Are you sure you want to delete the list '@(Model.Name)'?</h3>
<p>It currently has @Model.Items.Count item@(Model.Items.Count != 1 ? "s": "").</p>


<form asp-route="@Names.ListDelete" asp-route-listId="@Model.ID" method="post">
    <a class="btn" asp-route="@Names.ListDetails" asp-route-listId="@Model.ID">Cancel</a>
    <button class="btn" type="submit">Delete</button>
</form>
