@using  ShoppingAgain.Models;

@model ShoppingList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShoppingList current = Model;
    ViewBag.title = current.Name;
}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Controls</th>
        </tr>
    </thead>
    <tbody class="items" id="list">
        <tr id="list-tr-template" hidden>
            <td></td>
            <td class="controls">
                <form class="state-form" method="post" action="">
                    <button class="state" type="submit"><img /></button>
                </form>
                <form class="delete-form" method="post" action="">
                    <button class="state" type="submit"><img /></button>
                </form>
                <form method="post" action="">
                    <button class="state" type="submit"><img /></button>
                </form>

            </td>
        </tr>
        @foreach (Item i in current.Items)
        {
            <tr id="@i.ID">
                <td>@i.Name</td>
                <td class="controls">
                    <form method="post" asp-route="@Names.ItemNextState" asp-route-listId="@Model.ID" asp-route-itemId="@i.ID">
                        <button class="state" type="submit"><state s="@i.State">@i.State</button>
                    </form>
                    <a href="@Url.RouteUrl(Names.ItemChangeName, new { listId = Model.ID, itemId = i.ID })">
                        <icon src="~/images/edit.svg">
                    </a>

                    <a href="@Url.RouteUrl(Names.ItemDelete, new { listId = Model.ID, itemId = i.ID })">
                        <icon src="~/images/trash.svg">
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <partial name="_ItemEdit" model="new ItemEditVM { Parent = current, Route = Names.ItemCreate }" />
    </tfoot>
</table>
<p>
    <a href="@Url.RouteUrl(Names.ListEdit, new { listId = current.ID })">Change the name of the list</a>
    |
    <a href="@Url.RouteUrl(Names.ListDelete, new { listId = current.ID })">Delete this list</a>
</p>
@section scripts  {
    <script nonce="@ViewBag.Nonce">
        const currentList = "@current.ID";
    </script>

}
