@using ShoppingAgain.Models
@model ShoppingList

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <dl>
       <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd >
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            Contents
        </dt>
        <dd>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Item i in Model.Items)
                    {
                        <tr>
                            <td> @Html.DisplayFor(x => i.Name) </td>
                            <td> @Html.DisplayFor(x => i.State)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd> 
     </dl>
</div>
<div>
    <a class="btn" href="@Url.RouteUrl("ListEdit", new { id = Model.ID })">Edit</a>
    <a class="btn" href="@Url.RouteUrl("ListIndex")">Back to List</a>
</div>
