@using  ShoppingAgain.Models;

@model ShoppingList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShoppingList current = Model;
    ViewBag.title = current.Name;
}

@section controls {
    <a asp-fragment="@Names.ItemsHash">Items</a>
    <a href="#list-controls">Controls</a>
}

<div id="@Names.ItemsHash" class="chunk chunk-default">
    <h2>@Model.Name</h2>
    <table>
        <tbody>
            @foreach (Item i in current.Items)
            {
                <tr class="item">
                    <td class="item-name">@i.Name</td>
                    <td class="controls">
                        <form method="post" asp-route="@Names.ItemNextState" asp-route-listId="@Model.ID" asp-route-itemId="@i.ID">
                            <button class="state" type="submit"><state s="@i.State"></button>
                        </form>
                        <a href="@Url.RouteUrl(Names.ItemChangeName, new { listId = Model.ID, itemId = i.ID })">
                            <icon src="~/images/edit.svg">
                        </a>
                        <a href="@Url.RouteUrl(Names.ItemDelete, new { listId = Model.ID, itemId = i.ID })">
                            <icon src="~/images/trash.svg">
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_EditItem" model='new ItemEditVM { Parent = current, Route = Names.ItemCreate , ButtonText = "New Item"}' />
</div>


<div class="chunk" id="list-controls">
    <ul>
        <li><a asp-route="@Names.ListEdit" asp-route-listId="@current.ID">Change the name of the list</a></li>
        <li><a asp-route="@Names.ListShare" asp-route-listId="@current.ID">Share this list</a></li>
        <li><a asp-route="@Names.ListDelete" asp-route-listId="@current.ID">Delete this list</a></li>
    </ul>
</div>

@section scripts  {
    <script nonce="@ViewBag.Nonce">
        const currentList = "@current.ID";
    </script>
}
