@using  ShoppingAgain.Models
@model ShoppingList
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShoppingList current = Model;
    ViewData["Title"] = "Changing the name of " + current.Name;
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => current.ID)
    <dl>
        <dt>@Html.LabelFor(x => current.Name)</dt>
        <dd>
            @Html.EditorFor(x => current.Name)
            @Html.ValidationMessageFor(x => current.Name)
        </dd>
    </dl>

    <div id="page-controls">
        <button class="btn" type="submit">Save Changes</button>
        <a class="btn" href="@Url.RouteUrl(Names.ListDetails, new { listId = current.ID })">Cancel</a>
    </div>
}
