@using  ShoppingAgain.Models
@model ShoppingList
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.ID)
    <dl>
        <dt>@Html.LabelFor(x => x.Name)</dt>
        <dd>
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)
        </dd>

    </dl>

    <div id="page-controls">
        <button class="btn" type="submit">Save Changes</button>
        <a class="btn" href="@Url.RouteUrl("ListIndex")">Cancel</a>
    </div>
}
