@model ListShareVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sharing List @Model.ListName</h2>
@if (Model.Friends.Count > 0)
{


<form asp-route="@Names.ListShare" method="post">
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Share?</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Friends.Count; i += 1)
            {
                <tr>
                    <td>
                        <input asp-for="@Model.Friends[i].UserID" />
                        <span>@Model.Friends[i].UserName</span>
                    </td>
                    <td>
                        <input asp-for="@Model.Friends[i].IsShared" />
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <a asp-route="@Names.ListDetails" asp-route-listId="@Model.ListID" asp-fragment="@Names.ItemsHash">Cancel</a>
        <button type="submit">Share list</button>
    </div>
</form>
}
else
{
    <p>You don't have any firends to share lists with.</p>
}
