@using  ShoppingAgain.Models
@model IEnumerable<ShoppingList>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Your Shopping Lists";
}

@if (Model.Count() > 0)
{
    <table>
        <thead>
            <tr>
                <th class="text-left">@Html.DisplayNameFor(x => x.Name)</th>
                <th class="text-left">@Html.DisplayNameFor(x => x.Count)</th>
                <th class="text-left">Actions</th>
            </tr>
        </thead>
        <tbody id="listItems">
            @foreach (ShoppingList list in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(x => list.Name)</td>
                    <td>@Html.DisplayFor(x => list.Count)</td>
                    <td>
                        <a class="btn" href="@Url.Action("Details", new { id = list.ID })">Details</a> |
                        <a class="btn" href="@Url.Action("Edit", new { id = list.ID })">Edit</a> |
                        <a class="btn" href="@Url.Action("Delete", new { id = list.ID })">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>I can't find any shopping lists. You can <a href="@Url.Action("Create")">make a new one.</a></p>
}
